@media only screen and (max-width: 480px) {
li a, .dropbtn1 {
display: inline-block;
color: red;
text-align: center;
text-decoration: none;
}

.fa-plus {
color: white;
float: right;
margin-top: -35px;
padding: 10px;
}

#footerlink {
padding-top: 8px;
margin: 0;
padding-left: 20px;
}

.Legal-title {
color: white;
padding-top: 45px;
padding-left: 23px;
margin:0; 
}

.dropbtn {
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
font-family:none;
}

.row-box {
display: block;
margin-top: 100px;
margin-left: -25px;
}

.dropdown {
display: inline-block;
float: none;
}

/* Each box products */
.box2 {
width: 94%;
}

.box1 {
width: 93%;
margin-top: -115px;
} 

.box3 {
width: 94%!important;
}


.socai-media {
width: 88%;
}

.dropdown-content {
display: none;
position: relative;
background-color: #333;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #333;
}

li.dropdown1 {
display: inline-block;
margin-top: -52px;
float: right;
margin-right: 151px;
}

.hamburger {
display: block;
}

.hamburger {
position: relative;
display: inline-block;
width: 1.25em;
height: 0.8em;
margin-right: 0.3em;
border-top: 0.2em solid white;
border-bottom: 0.2em solid white;
}

.blue-box {
height: 43px;
}

.hamburger:before {
position: absolute;
top: 0.3em;
left: 0px;
width: 100%;
border-top: 0.2em solid white;
}

.hamburger.active {
background: pink;
}

.add-cart {
margin-top: 15px;
}

.boarder {
margin-top: -5px;
}

.dropdown-content1 {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 10px;
}

.dropdown-content1 a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: center;
}

.dropdown-content1 a:hover {background-color: #f1f1f1;}

.dropdown1:hover .dropdown-content1 {
display: block;
}

nav {
display: none;
}

.topnav {
background-color: #333;
position: relative;
}

.topnav {
display: block;
}

.topnav #myLinks {
display: none;
position: absolute;
background: #333;
width: 100%;
}

.logo {
margin-top: -54px;
}

.example-box {
height: 20px;
}

.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.topnav a.icon {
display: block;
position: absolute;
right: 0;
top: 0;
font-size: 24px;
margin-top: -4px;
}

.active {
background-color: #005ac6;
color: white;
height: 22px;
min-width: 100%;
}

.blue-box {
display: none;
}

footer {
  height: 274px;
  width: 108%;
}

.numbertext {
display: none;
}

.text {
display: none!important;
}


.product-box {
display: block;
justify-content: center;
align-items: center;
margin: 85px;
}

footer {
height: 305px;
width: 108%;
}

.mySlides {
height: 90px;
width: 108%;
}

.Times {
display: none;
}

.cart-box {
display: none;
}

.socai-media {
width: 12%;
margin-left: -63px;
padding-top: 30px;
}

}
@media (min-width: 480px) and (max-width: 1200px) {
  li a, .dropbtn1 {
  display: inline-block;
  color: red;
  text-align: center;
  text-decoration: none;
}

.product-box {
margin-left: 50px;
}

.fa-plus {
color: white;
float: right;
margin-top: -35px;
padding: 10px;
}

.row-box {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
margin-top: 17px;
}

.box1 {
padding: 23px;
height: 240px;
width: 29%;
}

.box2 {
padding: 23px;
height: 256px;
width: 27%;
margin-top: 18px;
}

.box3 {
width: 26%;
height: 230px;
}

.dropbtn {
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
font-family:none;
}

.dropdown {
  display: inline-block;
  float: none;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #333;
}
/*li a:hover, .dropdown:hover .dropbtn {
  
}*/

li.dropdown1 {
  display: inline-block;
  margin-top: -52px;
  float: right;
  margin-right: 151px;
}

.hamburger {
  display: block;
}

.hamburger {
position: relative;
display: inline-block;
width: 1.25em;
height: 0.8em;
margin-right: 0.3em;
border-top: 0.2em solid white;
border-bottom: 0.2em solid white;
}

.blue-box {
height: 43px;
}

.hamburger:before {
content: "";
position: absolute;
top: 0.3em;
left: 0px;
width: 100%;
border-top: 0.2em solid white;
}

.hamburger.active {
background: pink;
}

.add-cart {
margin-top: 15px;
}

.boarder {
margin-top: -5px;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content1 a:hover {background-color: #f1f1f1;}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
nav {
  display: none;
}

.topnav {
background-color: #333;
position: absolute;
width: 100%;
}

.topnav {
display: block;
}

.topnav #myLinks {
display: none;
}

.logo {
margin-top: -54px;
}

.example-box {
height: 20px;
}

.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.products {
margin: -17px;
}

.Title {
margin-top: -6px;
display: block;
font-size: 16px;
width: 75%;
text-align: center;
margin-left: -18px;
color: black;
padding: 17px;
}

#btn-cart {
border: none;
background: #005ac6;
width: 53%;
height: 34px;
padding: 10px;
margin: 10px;
cursor: pointer;
color: white;
font-size: 14px;
font-family: inherit;
}

.price {
margin-top: -9px;
margin-left: auto;
margin-right: auto;
margin-left: 57px;
font-size: 15px;
}

.product-images {
max-width: 80%;
}

footer {
height: 303px;
width: 105%;
}

.Legal-title {
color: white;
padding: 11px;
padding-left: 4px;
margin-right: auto;
padding-top: 30px;
margin-left: 20px;
}

.topnav a.icon {
display: block;
position: absolute;
right: 0;
top: 0;
font-size: 24px;
margin-top: -4px;
}

#footerlink {
padding-top: 99px;
float: left;
width: 35%;
margin-top: -78px;
margin-left: 18px;
}

.socai-media {
position: absolute;
width: 43%;
margin-top: 13px;
float: left;
margin-left: -6px;
}

.active {
background-color: #005ac6;
color: white;
height: 24px;
min-width: 101%;
}

.blue-box {
display: none;
}

.mySlides {
height: 140px;
width: 105%;
}

.cart-box {
display: none;
}
}

/*Table size/latop*/
@media only screen and (max-width: 1400px) {
  li {
    font-size: 14px;
    padding: 6px;
  }


  .dropdown .dropbtn {
    font-size: 14px;
    padding: 10px;
  }

}